.TopMenu {
  display: flex;
  flex-grow: 1;
  height: var(--top-tabs-height);
}

@media (min-width: 801px) { /* >= */
  .TopMenu {
    font-size: 26px;
    line-height: 26px;
    --width: 30px;
    gap: var(--width);
    padding-block-start: 4px;
    padding-inline-start: var(--width);
  }
}

@media (max-width: 800px) { /* <= */
  .TopMenu {
    font-size: 36px;
    margin-block-start: 5px;
    justify-content: space-around;
  }
}

