:root {
  --gray-color: #888888;
  --blue-color: #eeeeff;
  --blue-2-color: #ddddff;

  --pink-color: #ffcaf0;
  --pink-darker-color: #ffbcee;

  --form-control-color: darkgray;
  --form-control-disabled: lightgray;

  --radius: 0.3em;
}
