.TabQuizForm {
  display: flex;
  gap: 30px;
  height: 100px;
  align-items: center;
  border: 1px solid var(--form-control-color);
  border-radius: var(--radius);
  padding-inline-start: 10px;
}

.TabQuizForm__input {
  width: 70px;
  height: 50px;
  font-size: 0.8rem;
  padding-inline-start: 4px;
}
