.LatestPanel {
  display: flex;
  gap: 50px;
  height: 40px;
  margin-block-start: 30px;
  margin-block-end: 15px;
  margin-inline-start: 30px;
  font-size: 18px;
}

.LatestPanel__shuffle-buttons {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-size: 1em;
}

@media (width <= 800px) {
  .LatestPanel {
    height: 60px;
    font-size: 26px;
  }
}
