.latestSelector {
    display: flex;
    margin-block-start: 20px;
    margin-inline-start: 10px;
    margin-block-end: 20px;
}

.latestSelector__value {
    width: 30px;
    margin-inline-end: 10px;
}

.latestSelector__input {
    width: 100%;
}
