nav {
  position: sticky;
  font-size: var(--fontSize);
  top: 0;
  display: flex;
  gap: 20px;
  background: linear-gradient(to right, var(--color-pink), white);
  padding: 8px;
}

a.active {
  font-weight: bold;
}
