:root {
  --gray-color: hsl(0, 0%, 53%);
  --blue-color: hsl(240, 100%, 97%);
  --blue-2-color: hsl(240deg 100% 94%);

  --pink-color: hsl(315deg 100% 95%);
  --pink-darker-color: hsl(315deg 100% 80%);

  --form-control-color: darkgray;
  --form-control-disabled: lightgray;

  --radius: 0.3em;
}
