*, ::before, ::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

input {
  border: 0.15em solid var(--color-form-control);
  border-radius: var(--radius);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.transcription, .translation {
  font-size: var(--fontSize);
}