:root {
  --color-blue: hsl(240, 100%, 97%);
  --color-blue-2: hsl(240deg 100% 94%);

  --color-pink: hsl(315deg 100% 80%);

  --color-form-control: hsl(0, 0%, 53%);
  --color-form-control-disabled: lightgray;

  --color-red: red;
  --color-red-softer: hsl(0 100% 95%);

  --color-green: green;
  --color-green-softer: hsl(100 100% 95%);


  --radius: 0.3em;

  --fontSize: 1.5em;
}
