.SelectTranslation {
  margin-block-start: 20px;
  margin-inline-start: 10vw;
}

.SelectTranslation__variant {
  margin-block-start: 20px;
}

.SelectTranslationVariant {
  padding: 10px;
  border: 1px solid var(--color-blue);
  border-radius: var(--radius);
}
