@keyframes append-item {
  from {
    grid-template-rows: 0fr;
  }
  to {
    grid-template-rows: 1fr;
  }
}

@keyframes delete-item {
  from {
    grid-template-rows: 1fr;
  }
  to {
    grid-template-rows: 0fr;
  }
}

.CollapseArea {
  display: grid;
  animation: 0.1s ease-out append-item;
}

.CollapseArea__content {
  display: flex;
  gap: 5px;
  overflow: hidden;
}

.CollapseArea-closing {
  animation: 0.1s ease-out delete-item forwards;

}
