*, ::before, ::after {
  box-sizing: border-box;
}

/*html {*/
/*  background-color: beige;*/
/*}*/

.subgroup {
  font-size: 1.5em;
  padding-top: 20px;
}

td {
  padding: 6px 0;
  /*padding-top: 10px;*/
  border-bottom: 1px dotted lightgray;
}
