*, ::before, ::after {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  font-size: 150%;
}

.subgroup {
  font-size: 1.5em;
  padding-top: 20px;
}

tr {
  border-bottom: 1px dotted lightgray;
}

tr.solid-border {
  border-bottom: 1px solid black;
}

td {
  padding: 6px 0;
}
