.main-navigation {
  position: sticky;
  display: flex;
  gap: 20px;
  height: 50px;
  top: var(--top-tabs-height);
  background-color: white;
  padding-block-start: 10px;
  padding-inline-start: 10px;

  a {
    text-decoration: none;
  }

  .active {
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  .main-navigation {
    font-size: 150%;
  }
}

.subgroup {
  font-size: 150%;
  padding-top: 20px;
  font-weight: bold;
  padding-inline-start: 10px;
}
