.main-navigation {
  --padding-block-start: 10px;

  /*position: sticky;*/
  top: var(--top-tabs-height);
  background-color: white;
  padding-block-start: var(--padding-block-start);
  height: calc(var(--mui-tabs-height) + var(--padding-block-start));
  z-index: 1;
  /*box-shadow: 0 5px 3px 0 rgba(0,0,0,0.12);*/
  box-shadow: 0 10px 24px 0 rgba(0,0,0,0.12);
}

.subgroup {
  font-size: 150%;
  padding-top: 20px;
  font-weight: bold;
  padding-inline-start: 10px;
}
