.TBodyAssociation-opened {
  border: 1px solid black;
}

.TBodyAssociation__open-association-button button {
  background-color: var(--color-pink);
}

.TBodyAssociation__open-association-button button:hover {
  background-color: var(--color-pink-darker);
}
